* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  
}
#root {
  position: relative;
  min-height: 100vh;
}

.App {
  text-align: center;
}


.Header{
  background-color: pink;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: transparent;
  color:white;
}

.nav-links{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
list-style: none;
color: white;
gap: 1.1rem;
}
.nav-links:link {
  color: white;
  text-decoration: none;
  }

.nav-links:visited {
color: white;
text-decoration: none;
}
.nav-links:hover {
  color: white;
  text-decoration: none;
}
.nav-links:active {
  color: white;
  text-decoration: none;
}

.Footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: rgb(13, 148, 123);
  color:white;
  width: 100%;
  position: absolute;
}

.main {
  padding: 5rem 2rem; 
  background-image: url('./assets/06.png');
}
.HomePage {
  background-image: url('./assets/backgr.jpeg');
  background-size: cover;
}
.title {
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5em;
}
.quote {
  padding: 2.4rem 1.4rem 3rem 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.4;
  font-weight: 500;
}

.butt {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.butt::after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.butt:hover::after {
  top: 0px;
  left: 0px;
}

.slide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: px;
  padding: 10px 20px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: #66f2d5;
  box-sizing: border-box;
}

.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(-6px);
}

.slide::after {
  content: "";
  background-color: #66f2d5;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}

.Cartin {
  display: flex;
  justify-content: center;
}

.tracking-out-expand:hover {
	-webkit-animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    opacity: 0;
  }
}
@keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    opacity: 0;
  }
}
